@import "../css/themify-icons.css";
@import "../css/bootstrap.min.css";
@import "../css/theme-purple.css";
@import "../css/custom.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap");

* {
	font-family: "Poppins", sans-serif;
}

p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
}

.pr-5 {
	padding-right: 15px;
}
.mb-40 {
	margin-bottom: 40px;
}
.text-color-primary {
	color: #3e13b9;
}
.br-15 {
	border-radius: 15px;
}

.pt-0 {
	padding-top: 0;
}

.mb-40 {
	margin-bottom: 40px;
}

.ptb-80 {
	padding-top: 80px;
	padding-bottom: 80px;
}

.square-thumbs li {
	height: auto;
}

.mb5 {
	margin-bottom: 5px;
}
